<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/users"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ user ? 'Editar usuario' : 'Crear usuario' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="user-detail-page">
  <div class="state-wrap" *ngIf="loading">
    <ion-spinner></ion-spinner>
    <p>Cargando usuario...</p>
  </div>

  <form [formGroup]="form" *ngIf="!loading && form" (ngSubmit)="saveUser()">
    <ion-list inset="true">
      <ion-item>
        <ion-label position="floating">Nombre *</ion-label>
        <ion-input formControlName="firstName" placeholder="Nombre del usuario" type="text"></ion-input>
      </ion-item>
      <ion-note *ngIf="form.get('firstName')?.invalid && form.get('firstName')?.touched" color="danger">
        El nombre es requerido, minimo 2 caracteres.
      </ion-note>

      <ion-item>
        <ion-label position="floating">Apellido *</ion-label>
        <ion-input formControlName="lastName" placeholder="Apellido del usuario" type="text"></ion-input>
      </ion-item>
      <ion-note *ngIf="form.get('lastName')?.invalid && form.get('lastName')?.touched" color="danger">
        El apellido es requerido, minimo 2 caracteres.
      </ion-note>

      <ion-item *ngIf="!user">
        <ion-label position="floating">Email *</ion-label>
        <ion-input formControlName="email" placeholder="usuario@ejemplo.com" type="email"></ion-input>
      </ion-item>
      <ion-note *ngIf="!user && form.get('email')?.invalid && form.get('email')?.touched" color="danger">
        Ingresa un email valido.
      </ion-note>

      <ion-item>
        <ion-label position="floating">Telefono</ion-label>
        <ion-input formControlName="phoneNumber" placeholder="+56912345678" type="tel"></ion-input>
      </ion-item>

      <ion-item *ngIf="!user">
        <ion-label position="floating">Contrasena *</ion-label>
        <ion-input formControlName="password" placeholder="Minimo 6 caracteres" type="password"></ion-input>
      </ion-item>
      <ion-note *ngIf="!user && form.get('password')?.invalid && form.get('password')?.touched" color="danger">
        La contrasena requiere minimo 6 caracteres.
      </ion-note>

      <ion-item>
        <ion-label>Rol *</ion-label>
        <ion-select formControlName="role" interface="popover">
          <ion-select-option *ngFor="let role of userRoles" [value]="role">
            {{ roleLabel(role) }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-note *ngIf="form.get('role')?.invalid && form.get('role')?.touched" color="danger">
        Selecciona un rol.
      </ion-note>
    </ion-list>

    <div class="button-group">
      <ion-button type="submit" expand="block" [disabled]="form.invalid || mutating">
        <ion-spinner name="crescent" *ngIf="mutating"></ion-spinner>
        <span *ngIf="!mutating">{{ user ? 'Actualizar' : 'Crear' }}</span>
      </ion-button>
    </div>
  </form>
</ion-content>
