<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/residents"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="resident-form-page">
  <div class="state-wrap" *ngIf="loading">
    <ion-spinner></ion-spinner>
    <p>Cargando residente...</p>
  </div>

  <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="submit()">
    <ion-list inset="true">
      <ion-item>
        <ion-input label="Nombre" labelPlacement="stacked" formControlName="firstName" maxlength="100"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Apellido" labelPlacement="stacked" formControlName="lastName" maxlength="100"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Documento" labelPlacement="stacked" formControlName="documentNumber" maxlength="50"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Email" labelPlacement="stacked" formControlName="email" maxlength="150" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Telefono" labelPlacement="stacked" formControlName="phone" maxlength="50"></ion-input>
      </ion-item>

      <ion-item>
        <ion-select label="Tipo de residente" labelPlacement="stacked" formControlName="residentType">
          <ion-select-option *ngFor="let type of residentTypes" [value]="type.value">
            {{ type.label }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input label="Unidad o departamento" labelPlacement="stacked" formControlName="unitLabel" maxlength="80"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Bloque o torre" labelPlacement="stacked" formControlName="blockLabel" maxlength="80"></ion-input>
      </ion-item>

      <ion-item>
        <ion-select label="Usuario autenticado asociado" labelPlacement="stacked" formControlName="linkedUserId">
          <ion-select-option value="">Sin asociar</ion-select-option>
          <ion-select-option *ngFor="let user of linkableUsers" [value]="user.id">
            {{ user.firstName }} {{ user.lastName }} · {{ user.email }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <div class="actions">
      <ion-button expand="block" type="submit" [disabled]="submitting">
        {{ submitting ? 'Guardando...' : (isEditMode ? 'Actualizar residente' : 'Registrar residente') }}
      </ion-button>
    </div>
  </form>
</ion-content>
